<!-- <p>home works!</p> -->
<section class="food-img">
    <div class="head-position">
        <img src="../../assets/food.png">

        <div class="header-menu">
            <div>
                <div class="pull-left">
                    <div>
                        <img src="../../assets/food-logo.png">
                        <h3>Wat To Eat</h3>
                    </div>

                </div>

                <div class="pull-right align-btn">
                    <span>
                        <a>Sign in</a>
                    </span>
                    <button class="btn btn-primary sign-btn">Sign up</button>

                </div>
            </div>
        </div>
    </div>

       <div class="outer">
            <div class="middle">
              <div class="inner">
                    <small>Get upto</small>
                    <h4>10% Cash back</h4>
                    <small>On every order.No coupon Needed</small>
                </div>
            </div>
        </div>

        <article class="v-box">
            <h2>Order for delivery or PickUp</h2>
        </article>

        <div class="locat">
            <form>
               <div class="find-food">

                   <mat-icon matSuffix class="material-icons location">room</mat-icon>
                    <input type="text" class="form-control pad" placeholder="Enter your Address">
                    <span class="food-btn"><button class="btn btn-primary">Find Food</button></span>
               </div>
            </form>
        </div>
    <div class="dwld-btn">
        <button mat-raised-button>Download the App</button>
    </div>
</section>

    <section class="food-img1">
        <img src="../../assets/component.png">
    </section>
